{% extends 'base.html.twig' %}

{% block body %}
    <h1>Athlete</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ athlete.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ athlete.nom }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ athlete.score }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('athlete_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('athlete_edit', { 'id': athlete.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
